@import "./main.scss";

html {
    font-size : 8px;
}

body {
    font-family      : $font-family-base;
    font-size        : $font-size-base;
    line-height      : $line-height-base;
    color            : $black;
    background-color : $white;
}

@media (min-width : $breakpoint-md) {
    body {
        font-size : $font-size-base * 1.1;
    }
}