# Environment and IDE
.env
.idea/
.vite/

# Build and dependencies
**/dist/
**/node_modules/
**/package-lock.json

# Themes (ignore all themes if intended)
/themes/*
/backups/*

# Archives and dumps
**/*.sql
**/*.tar
**/*.zip
**/*.tar.gz
/.vscode/settings.json
