@import "../abstracts/variables"; // ajusta la ruta según tu estructura

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  font-size: 100%; // 1rem = $font-size-base (16px)
}

body {
  font-family: $font-family-base;
  font-size: 1rem; // base rem (16px)
  line-height: $line-height-base;
  position: relative;
  min-height: 100vh;
  color: $black;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*, *::before, *::after {
  box-sizing: border-box;
}
