@import "../abstracts/variables";

.beb-navbar {
    background-color: rgba($dark-blue, 0.51); // antes: rgba(131, 159, 177, 0.51)
    backdrop-filter: blur(4px);
    padding: $spacing-small $spacing-unit; // antes: 0.5rem 1rem
    position: fixed;
    width: 100%;
    top: 0;

    &__container {
        max-width: map-get($grid-breakpoints, xl);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-medium 0;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: $spacing-medium;

        img {
            max-height: 60px;
        }

        .beb-navbar__title {
            font-weight: 700;
            color: $white;
            text-decoration: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__menu {
        .beb-navbar__list {
            list-style: none;
            display: flex;
            gap: $spacing-large; // antes: 2rem

            li a {
                color: $white;
                text-decoration: none;
                font-weight: 500;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__auth {
        .beb-navbar__link {
            color: $white;
            font-weight: 500;
            text-decoration: none;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
