.citas {
    display    : block;
    color      : $white;
    padding    : $spacing-section 0;
    text-align : center;

    .image {
        position : absolute;
        top      : 0;
        left     : 0;
        z-index  : -1;
    }

    .container {
        width     : 100%;
        max-width : 900px;
    }

    p {
        padding-top : $spacing-large;
        margin-top  : 0;
    }

    .button {
        margin-top   : $spacing-large;
        margin-left  : auto;
        margin-right : auto;
    }
}